@font-face {
  font-family: NotoSansSC;
  src: url('../assets/font/NotoSansSC-Light.otf');
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  color: rgb(48 49 51);
  width: 100%;
}

a:not(.v-list-item--link):visited {
  color: rgb(var(--v-theme-primary));
}

a:not(.v-list-item--link):active {
  color: rgb(var(--v-theme-primary));
}
